{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h3 class="card-title text-center text-success mb-4">Login</h3>
                <form method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Log In</button>
                    <!-- Hidden input to specify where to redirect after login -->
                    <input type="hidden" name="next" value="{{ next|default:'' }}">
                </form>
                <div class="text-center mt-3">
                    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
